*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    width: 100%;
}
.parent{
    background: rgba(40, 40, 41, 1);
    width: 100%;
    height: 70px;
    font-size: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}
a{
    color: white;
    margin-right: 100px;
}
h1{
    font-family: Inter;
    font-size: 88px;
    font-weight: 500;
    line-height: 93px;
    text-align: center;
    margin-top: 150px; 
    width: 740px;
    margin: 0 auto;
    margin-top: 150px;
}
h3{
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.89px;
    text-align: center;
}
p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}
.chield{
     margin-top: 150px;
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.chield1{
    margin-top: 150px;
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.chield2{
    margin-top: 150px;
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.chield3{
    margin-top: 150px;
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.chield4{
    margin-top: 30px;
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.chield5{
    margin-top: 30px;
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.chield6{
    margin-top: 30px;
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.parent2{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 200px;
}
.im{
    margin-right: 800px;
}
.parent1{
    background: rgba(40, 40, 41, 1);
    width: 100%;
    height: 70px;
    font-size: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}